
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css.css">
</head>
<body>
    <div class="corps">
            <div class="logo">
                    <h1 class="titre">Dev Forum</h1>
                    <img src="logo.jpg" class="img_logo" alt="">

            </div>

            <h1 class="creer_compte">Creer mon compte</h1>

            <form action="/form" method="POST" >
                 <div class="inscription">


                   <label for="nom" id="nom" name="nom">
                   <h2>Nom</h2>
                   <input type="text" class="case_text" id="nom" name="nom">
                   </label>
                   <label for="email" id="email" name="email">
                    <h2>Email</h2>
                    <input type="text" class="case_text" id="email" name="email" >
                    </label>
                    
                   <label for="password" id="password" name="password">
                   <h2>Mot de passe</h2>
                   <input type="password" class="case_text" id="password" name="password" >
                   </label>
                   
                   <label for="password1" id="password1" name="password1">
                    <h2>Mot de passe (confirmation)</h2>
                    <input type="password" class="case_text" id="password1" name="password1" >
                    </label>

                  <input type="submit" value="inscription" class="envoyer">


                </div>
            </form>
            <div class="h3">
                  <span> Si vous avez deja un compte, vous</span>  
                   <span>pouvez vous <a href="/" class="inscrire">Se connecter</a></span>
            </div> 
      </div>
    
   
   <div class="s'inscrire">

   </div>
</body>
</html>